{% extends "base.html" %}

{% block content %}
    <h1>Profile View for user {{ user.username }}</h1>
    <div style="margin-left: 40px">
        <h2>Products from this user:</h2>
        <table style="width:40%; border: 1px solid black;">
            <tr>
                <th style="border: 1px solid black;">Product Name</th>
                <th style="border: 1px solid black;">Price</th>
            </tr>
            {% for product in user.products %}
                <tr>
                    <td style="border: 1px solid black;">{{ product.product_name }}</td>
                    <td style="border: 1px solid black;">{{ product.price }}$</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}