{% extends "base.html" %}
{% block content %}
<h1 align="center">Create a new product!</h1>
     <div class="container">
        <form action="" method="post">
            <div>
                {{ form.product_name.label(class="form-control-label") }}
                {{ form.product_name(class="form-control form-control-lg") }}
            </div>
                {{ form.price.label(class="form-control-label") }}
                {{ form.price(class="form-control form-control-lg") }}
            <div>

            </div>

            <div class="form-group" class="btn btn-outline-info">
                <input type="submit" name="submit_product" class="btn btn-outline-info" value="Submit Product">
            </div>
        </form>
     </div>
{% endblock %}
