{% extends "base.html" %}

{% from 'macros/_formhelpers.html' import render_field %}

{% block content %}
<body>
    <div align="center">
        <h1>Name: {{ product.product_name }}</h1>
    </div>
    <font size="30">
        <div>
            Price: {{ product.price }}$
        </div>
        <div>
            Seller {{ product.seller.username }}
        </div>
        <div>
            Description {{ product.description }}
        </div>
    </font>
    {% if current_user == product.seller %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.delete(class="form-control form-control-lg") }}
        </form>
    {% endif %}
</body>
</html>
{% endblock %}