{% extends "base.html" %}

{% from 'macros/_formhelpers.html' import render_field %}

{% block content %}
    <div class="container" align="center">
        <fieldset class="form-group">
            <div>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.search_name) }}
                    {{ render_field(form.search_type) }}
                    <input type="submit" name="search_product" class="btn btn-outline-info" value="Search">
                </form>
            </div>
        </fieldset>
    </div>
    <body>
        {% if products %}
        <h2>Search results for {{ search_name }} under the {{ search_type }} category.</h2>
            {% for product in products %}
                <div class="content-section">
                        <h2><a href="{{ url_for('products.display_product', product_id=product.id_product) }}">{{ product.product_name }}</a></h2>
                        <div>{{ product.price }}$</div>
                        <div>{{ product.seller.username }}</div>
                    </div>
            {% endfor %}
        {% else %}
            <h1 align="center">No Products Found!</h1>
        {% endif %}
        {% include "get_pages.html" %}
    </body>
{% endblock %}
